.container {
    display: flex;
    align-items: center;
}

.container .img {
    --dimentions: 60px;
    width: var(--dimentions);
    height: var(--dimentions);
    object-fit: contain;
}

.icon { position: relative; }
.icon .img { display: block; }
.icon .bi-caret-right-fill { position: absolute; bottom:17px; left:19px; }