.cell{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 15px 14px 5px -10px rgba(173, 170, 173, 0.4);
    background-color: red;
    position: relative;

}

.bi{
    transform: rotate(-45deg);
    position: absolute; bottom:30px; left:35px;
}
